.Container{
    background-color: black;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid white;
}
.Container:hover{
    background-color: #C19DE5;
    transition: 1s;
}
.Text{
    color: white;
    font-size: 80px;
    font-weight: 700;
}
.Container:hover .Text{
    color: black;
    transition: 1s;
}