.Container {
    height: 40vh;
    background-color: #EEEBF4;
    width: 80vw;
    border-radius: 8px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content {
    width: 96%;
    height: 90%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden; /* Перекриває частину, що виходить за межі контейнера */
}
.Error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .StageContainer {
    position: relative;
  }
  
  .TextBox {
    position: absolute;
    border: 5px solid blue;
    background-color: rgba(0, 0, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    padding: 10px;
  }
  
  .FontData {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }