.Container {
    height: 40vh;
    background-color: #EEEBF4;
    width: 80vw;
    border-radius: 8px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content {
    width: 96%;
    height: 90%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden; /* Перекриває частину, що виходить за межі контейнера */
}

.Input {
    display: none;
}

.Label {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #772EBD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.Label:hover {
    background-color: #6f4596;
}

.Upload {
    width: 200px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    line-height: 23.44px;
    font-size: 20px;
}
.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 60%;
    max-height: 70%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.Loader {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    text-align: center;
    margin-top: 10px;
  }

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.ImageCropper img {
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 10px;
    object-fit: contain; /* Зберігає пропорції та обмежує розмір */
}

/* Кнопки в модальному вікні */
.CropButton {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #4e326a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.CropButton:hover {
    background-color: #3b2551;
}
.Cropped{
    display: flex;
    flex-direction: row;
    position: relative;
}
.Reset {
    position: absolute;
    font-size: 48px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(93, 46, 138, 0.8); /* Напівпрозоре накриття */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Вища пріоритетність поверх зображення */
}

.Cropped:hover .Reset {
    visibility: visible;
    cursor: pointer;
}