.main{
    width: 90vw;
    height: fit-content;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FCF8FF;
    border-radius: 16px;
}
.wrapper{
    height: 100vh;
    background-color: #1F1D21;
    justify-content: center;
    display: flex;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 10px;
    width: 80vw;
}
